<nav>
    <ul id="ul">
        <li><a href="/" class="<%= PagetoLoad === 'home' ? 'link-active' : '' %>"><span><i class="fas fa-home"></i></span> Home</a></li>
        <li><a href="/about" class="<%= PagetoLoad === 'about' ? 'link-active' : '' %>"><span><i class="fas fa-address-card"></i></span> About</a></li>
        <li><a href="/resume" class="<%= PagetoLoad === 'resume' ? 'link-active' : '' %>"><span><i class="fas fa-award"></i></span> Resume</a></li>
        <li><a href="/portafolio" class="<%= PagetoLoad === 'portafolio' ? 'link-active' : '' %>"><span><i class="fas fa-briefcase"></i></span> Portafolio</a></li>
        <li><a href="/contact" class="<%= PagetoLoad === 'contact' ? 'link-active' : '' %>"><span><i class="fas fa-paper-plane"></i></span> Contact</a></li>
    </ul>
</nav>