<div class="page-section contact-page">
    <hr class="hr-top">
    <h1>Contact</h1>
    <hr class="hr-bottom">

    <div class="flex-s-a flex-vc">
        <div class="box-4 box-i-6 box-m-7 box-p-10">
            <div class="w50p mauto maxw250px">
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_CEyvj2.json" background="transparent" speed="1" style="width: 100%;" loop autoplay></lottie-player>
            </div>
            <!--<h2>Address</h2>-->
            <p class="tac">Diogenes Paredes Mz 5 Casa 11<br><strong class="fs20px">Santo Domingo - Ecuador</strong></p>
        </div>
        <div class="box-4 box-i-6 box-m-7 box-p-10 middle-box">
            <div class="w50p mauto maxw250px">
                <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_tA7sB3.json" background="transparent" speed="1" style="width: 100%;" loop autoplay></lottie-player>
            </div>
            <!--<h2>Phone</h2>-->
            <p class="tac fs20px"><a href="<%= SocialLinks.Phone %>">+593 (98) 2345 - 160</a></p>
        </div>
        <div class="box-4 box-i-6 box-m-7 box-p-10">
            <div class="w50p mauto maxw250px">
                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_hoqqqwvt.json" background="transparent" speed="1" style="width: 100%;" loop autoplay></lottie-player>
            </div>
            <!--<h2>Email</h2>-->
            <p class="tac fs20px"><a href="<%= SocialLinks.Email %>">Hire-Me@</a></p>
        </div>
    </div>
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.4464777089174!2d-79.17917947083738!3d-0.23093915889536845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d54649b6204e0d%3A0xed0c96cffb8542dd!2sMarbust%20Technology%20Company!5e0!3m2!1sen!2sec!4v1606164108311!5m2!1sen!2sec" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="place-map"></iframe>
    </div>
    <br>
    <br>
    <br>
    <div class="social-media">
        <div class="top-arrow"></div>
        <div class="w100p">
            <p class="fs27px tittle">Let's change the world</p>
            <p class="tbold fs27px subtittle">Follow me:</p>
        </div>
        <div class="body">
            <a href="<%= SocialLinks.Facebook %>"><i class="fab fa-facebook-f"></i></a>
            <a href="<%= SocialLinks.WhatsApp %>"><i class="fab fa-whatsapp"></i></a>
            <a href="<%= SocialLinks.Youtube %>"><i class="fab fa-youtube"></i></a>
            <a href="<%= SocialLinks.Twitter %>"><i class="fab fa-twitter"></i></a>
            <a href="<%= SocialLinks.Instagram %>"><i class="fab fa-instagram"></i></a>
            <a href="<%= SocialLinks.Linkedin %>"><i class="fab fa-linkedin"></i></a>
            <a href="<%= SocialLinks.GitHub %>"><i class="fab fa-github"></i></a>
        </div>
        <div class="bottom-arrow"></div>
    </div>
</div>
